.trigger {
  position: relative;
  display: inline-flex;
  margin-right: 20px;
}

.count {
  position: absolute;
  top: -8px;
  left: 100%;
  margin-left: 0;
  line-height: 1;
  color: var(--mantine-color-text);
}

.dropdown {
  background: transparent;
  border: none;
  padding: 0;
}
