.thumb {
  border: none;
}

.thumb::before {
  display: none;
}

/* Keep primary track colour when switch is checked + disabled */
.root:has(input:checked:disabled) {
  --switch-disabled-color: var(--mantine-primary-color-filled);
}

.topLabel {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  color: var(--mantine-color-black);
  margin-bottom: 0.25rem;
}

.description {
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-primary-3);
  margin-top: 4px;
}
