# Core Database (PostgreSQL)
CORE_DB_NAME=quill_core
CORE_DB_USER=core_user
CORE_DB_PASSWORD=CHANGE_ME
CORE_DB_HOST=postgres-core
CORE_DB_PORT=5432

# FHIR Database (PostgreSQL)
FHIR_DB_NAME=hapi
FHIR_DB_USER=hapi_user
FHIR_DB_PASSWORD=CHANGE_ME
FHIR_DB_HOST=postgres-fhir
FHIR_DB_PORT=5432

# EHRbase Database (PostgreSQL)
EHRBASE_DB_NAME=ehrbase
EHRBASE_DB_USER=ehrbase_user
EHRBASE_DB_PASSWORD=CHANGE_ME
EHRBASE_DB_HOST=postgres-ehrbase
EHRBASE_DB_PORT=5432

JWT_SECRET=CHANGE_ME

VAPID_PRIVATE=CHANGE_ME
VAPID_PUBLIC=CHANGE_ME

COMPANY_EMAIL=CHANGE_ME

# FHIR Service API
FHIR_SERVER_URL=http://fhir:8080/fhir

# EHRbase Service API
EHRBASE_URL=http://ehrbase:8080/ehrbase
EHRBASE_API_USER=ehrbase_user
EHRBASE_API_PASSWORD=CHANGE_ME
EHRBASE_API_ADMIN_USER=ehrbase_admin
EHRBASE_API_ADMIN_PASSWORD=CHANGE_ME

RESEND_API_KEY=CHANGE_ME
EMAIL_FROM=CHANGE_ME
