.wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: -0.25rem;
  line-height: 0;
}

.wrapper > span {
  display: flex;
  line-height: 0;
  margin: -0.25rem 0;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.3;
}
