.wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
  max-height: 80vh;
  max-width: 100%;
  width: min(100%, calc(80vh * 16 / 9));
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.wrapper > * {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
