.timer {
  position: fixed;
  top: calc(60px + var(--mantine-spacing-md));
  right: var(--mantine-spacing-md);
  z-index: 100;
}

.imagePanel {
  flex: 1;
}

.image {
  border-radius: var(--mantine-radius-md);
  max-height: 30rem;
  object-fit: contain;
}
