.timer {
  position: fixed;
  top: calc(60px + var(--mantine-spacing-md));
  right: var(--mantine-spacing-md);
  z-index: 100;
}

.imagePanel {
  flex: 1;
}

.imageWrapperSingle {
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
  max-width: 100%;
  width: fit-content;
}

.imageWrapperMulti {
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  max-height: 80vh;
  height: auto;
  object-fit: contain;
}

.imageSingle {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  height: auto;
}
