{#-
  An administrator has created an account and invites its owner to set a
  password. Context:
    name         who to greet: their full name, or their username where
                 the account has none
    username     the new account's username, which they log in with
    email        the address this is sent to, said back to them: many
                 people read several addresses in one mailbox
    setup_url    the link that sets the password
    ttl_minutes  how long the link lasts
-#}
{% extends "base.html.j2" %}
{% import "_components.html.j2" as c with context %}
{% block subject %}You're invited to Quill - set up your account{% endblock subject %}
{% block preheader %}Create your password and get started.{% endblock preheader %}
{% block body %}
{{ c.heading("You're invited to *Quill*") }}
{{ c.paragraph("Hi " ~ name ~ ",") }}
{{ c.paragraph("An administrator has invited you to set up your Quill account. Please use the link below to create your password and get started.") }}
{% call c.paragraph() %}Your username is <strong>{{ username }}</strong>. You will need it to log in.{% endcall %}
{{ c.button("Set up your account", setup_url) }}
{{ c.small("This link expires in " ~ ttl_minutes ~ " minutes.") }}
{{ c.small("This email was sent to " ~ email ~ ".") }}
{% endblock body %}
{% block reason %}You are receiving this because an administrator created a Quill account for this address.{% endblock reason %}

{% block text %}
Hi {{ name }},

An administrator has invited you to set up your Quill account. Please use the link below to create your password and get started.

Your username is {{ username }}. You will need it to log in.

Set up your account: {{ setup_url }}

This link expires in {{ ttl_minutes }} minutes.

This email was sent to {{ email }}.
{% endblock text %}
