{#-
  Password reset. Context:
    reset_url    the link that resets the password
    ttl_minutes  how long the link lasts
-#}
{% extends "base.html.j2" %}
{% import "_components.html.j2" as c with context %}
{% block subject %}Reset your Quill password{% endblock %}
{% block preheader %}The link lasts {{ ttl_minutes }} minutes.{% endblock %}
{% block body %}
{{ c.heading("Reset your *password*") }}
{{ c.paragraph("You requested a password reset for your Quill account.") }}
{{ c.button("Reset your password", reset_url) }}
{{ c.small("This link expires in " ~ ttl_minutes ~ " minutes.") }}
{{ c.small("If you did not ask for this, you can ignore this email. Your password will not change.") }}
{% endblock %}
{% block reason %}You are receiving this because a password reset was requested for this address on Quill.{% endblock %}
{% block text %}
You requested a password reset for your Quill account.

Reset your password: {{ reset_url }}

This link expires in {{ ttl_minutes }} minutes.

If you did not ask for this, you can ignore this email. Your password will not change.
{% endblock %}
