site_name: Quill Docs
docs_dir: docs

theme:
  name: material
  features:
    - navigation.sections
    - toc.integrate
    - content.code.copy

nav:
  - Home: index.md
  - Documentation: documentation/index.md
  - Frontend code: frontend/README.md
  - User interface (storybook): storybook/index.html
  - Backend code:
      - Overview: backend/index.md
      - FHIR Quick Start: backend/fhir-quickstart.md
      - FHIR Setup Guide: backend/fhir-setup.md
  - API (Swagger): swagger/index.html


plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths:
            - ../backend
          options:
            docstring_style: google
            show_source: true
            separate_signature: true
            members_order: source
            inherited_members: false
  - swagger-ui-tag

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences

watch:
  - ../backend
  - docs
